.flag {
	color: lightgray;
	margin-right: .5rem;
	font-size: 1.4rem;
}

.flag:hover {
	color: gray;
}

.flagged span { 
	color: orange;
}

.complete .task {
	color: gray;
	text-decoration: line-through;
}

ul {
	list-style-type: none;
	padding-inline-start: 0.5rem;
	margin-block-start: 0.5rem;
}

li {
	color: #444;
}

li:hover {
	color:black;
}

li button {
	margin-left: 0.5rem;
}

h4 {
	margin-block-end: 0;
}

body {
	font-family: Helvetica;
}

input[type=checkbox] {
	margin-right: 0.5rem;
}